<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset = "UTF-8">
  <title>First Form</title>
</head>
<body>
  <h1> Login Screen </h1>
  {% if errorMessage %}
    <p><strong>Error message: </strong>{{errorMessage}}</p>
    {% endif %}
    <form action="" method="post">
      <dl>
        <dt>Username: </dt>
        <dd>
          <input type = "text" name="username" value="{{request.form.username}}">
        </dd>
        <dt>Password: </dt>
        <dd><input type="password" name="password">
        </dd>
      </dl>
      <p><input type="submit" value="Login"</p>
    </form>
</body>
</html>
